doctype html

html
    head
        title About
        link(rel="icon" href="/img/icon.png")
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/css/styles.css")
    body
        include ../partials/header.pug
        div(class="box-wrapper" style="display: flex; justify-content: flex-start;")
        a(href="https://www.instagram.com/25bahaz/")
         | Instagram
        a(href="https://www.linkedin.com/in/25bahaz/")
         | Linkedin
        a(href="https://github.com/25bahaz")
         | Github
        include ../partials/footer.pug
