<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.png">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="box-wrapper" style="display: flex; justify-content: flex-start;">
            <a href="https://www.instagram.com/25bahaz/">Instagram</a>
            <a href="https://www.linkedin.com/in/25bahaz/">Linkedin</a>
            <a href="https://github.com/25bahaz">Github</a>
        </div>
        {{>footer}}
    </body>
</html>
 