<footer>
    <div style="color: var(--gray-color); border-top: solid var(--gray-color) 1px; width:auto; padding:10px;">Created by <a href="https://www.linkedin.com/in/25bahaz/">@{{name}}</a></div>
</footer>