
<header>
    <div>
        <a href="/">Weather</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
    </div>
    <div class="svg-container">
        <img id="sun" src="/img/sun.svg" alt="sun"></img>
        <img id="moon" src="/img/moon.svg" alt="moon"></img>
    </div>
</header>